.faq {
  .ant-collapse
    .ant-collapse-content {
    background-color: #ffffff !important;
  }
  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header {
    background-color: #ffffff !important;
  }

  .ant-collapse-header-text {
    font-size: 16px;
    font-weight: 500;
  }
}
